<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&amp;!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&amp;!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if (IE 9)]><html class="no-js ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en-US">
<!--<![endif]-->
<head>
    <title>ByteIndex在线交易技术实验室-MT4交易系统搭建|二元期权|手机版交易系统|微信微盘交易系统搭建|外汇交易平台搭建|贵金属交易系统搭建-海外公司及海外监管代办</title>
    <!-- Meta Tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="description" content="ByteIndex是一家外汇机构服务商。可提供正版MT4服务器、Xcore流动性解决方案、二元期权交易系统、微信交易系统、手机交易系统等。并可提供如国内外知名第三方支付接口、高速数据源、贵金属外汇股指期货股票债券等600种可交易资产、CRM客户关系管理系统、FSP、FCA、ASIC等金融机构监管代办、专业多语言网站、5A级机房高性能服务器等增值服务。" />
    <meta name="keywords" content="byteindex,最新MT4服务器,MT4交易平台,正版MT4系统,二元期权MT4平台,二元期权交易系统,外汇交易系统,流动性支持机构,股指期货,18680390649,18680357043" />
    <!-- Mobile Specifics -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="HandheldFriendly" content="true" />
    <meta name="MobileOptimized" content="320" />
    @Html.Partial("_Style")
    <style>
        * {
            font-family: "微软雅黑",'Source Sans Pro', sans-serif;
            font-weight: 500;
        }

        #contact-form input,
        #contact-form textarea {
            font-family: "微软雅黑",'Source Sans Pro', sans-serif;
            font-weight: 500;
            font-size: 15px;
        }
    </style>
    <script>
        var _hmt = _hmt || [];
        (function () {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?d68fe4c583f0f0d719e4a3a55a4ea161";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</head>
<body>
    <!-- load -->
    <div class="ole">
        <div id="jSplash">
            <div id="circle"></div>
        </div>
    </div>
    <!-- End load -->
    <!-- Header -->
    @Html.Partial("_Header")
    <!-- Homepage Slider -->
    @RenderBody()
    <!-- footer -->
    @Html.Partial("_Footer")
    <!-- End Footer -->
    <!-- Back To Top -->
    <a id="back-to-top" href="#home">
        <i class="font-icon-arrow-simple-up"></i>
    </a>
    <!-- End Back to Top -->
    <!-- Js -->
    @Html.Partial("_Script")

    @RenderSection("scripts", false)
</body>
</html>